.container {
  text-align: center;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}
